body{
    background-color: white;
}

.iframes{
    text-align: center;
    height: 95vh;
}
#selectDevice{
    width: 100%;
}

#RangeDb{
    text-align: center;
    width: 85%;
}

.select{
    text-align: center;
    width: 25%;
    margin: 0 auto;
}
.container{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}